Source: dbus-c++-1
Priority: optional
Maintainer: SavoirFaireLinux Inc <yun.liu@savoirfairelinux.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Section: libs

Package: dbus-c++-1-dev
Section: libdevel
Architecture: amd64
Depends: libc6 (>=2.6.1-1), dbus-c++-1 (>= 0.5.1)
Homepage: http://www.sflphone.org
Description: SFLphone C++ DBus Bindings
 It is a C++ interface for DBus. It has the ability to reflect DBus methods
 and signals into a more natural C++ object system. 
 SFLphone is being developed by the global community, and maintained by 
 Savoir-faire Linux, a Montreal, Quebec, Canada-based Linux consulting company.
 This package is only for the development use.

Package: dbus-c++-1
Section: libs
Architecture: amd64
Homepage: http://www.sflphone.org
Depends: libc6 (>=2.6.1-1),${shlibs:Depends}
Description: SFLphone C++ DBus Bindings
 It is a C++ interface for DBus. It has the ability to reflect DBus methods
 and signals into a more natural C++ object system. 
 SFLphone is being developed by the global community, and maintained by 
 Savoir-faire Linux, a Montreal, Quebec, Canada-based Linux consulting company.
 This package is only the library.
