Checks: >
  -*,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-string-compare,
  clang-analyzer-*,
  clang-diagnostic-*,
  llvm-*,
  -llvm-else-after-return,
  -llvm-header-guard,
  -llvm-include-order,
  -llvm-namespace-comment,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  performance-*,
  -performance-move-const-arg
