# Ignore unused objects
*.lo
*.o
*.a
*.la
*.Po
*.Plo
*.loT
*.m4
*.Tpo
Makefile.in
Makefile
/config.*
*.swp
*.so
*.raw
*.pod

# Binary translation files
*.mo
libtool
# The test binary
*Tester
*orig
*.1
*-glue.h

# Ignore rendered docs
doc/doxygen/core-doc
doc/doxygen/gtk-gui-doc
doc/*.html

# Ignore buildsys stuff
/autom4te.cache
/configure
/depcomp
/missing
/ltmain.sh
/libtool
/install-sh
/stamp-h1
/Makefile
gnome/stamp-h1
*.omf

# Ignore built stuff
/src/sflphoned
/src/sflphone
/src/.libs

# Ignore daemon stuff
/daemon/autom4te.cache
/daemon/config.guess
/daemon/config.*
/daemon/configure
/daemon/depcomp
/daemon/install-sh
/daemon/INSTALL
/daemon/missing
/daemon/src/dbus/org.sflphone.SFLphone.service
/daemon/src/sflphoned
/daemon/stamp-h1
/daemon/ltmain.sh

# PJSIP files
*.depend
*i686-pc-linux-gnu
*pjlib-util-test-*
*pjlib-test-*
*pjmedia-test-*
*pjnath-test-*
*pjturn-client-*
*pjturn-srv-*
*pjsua-*
*pjsystest-*
*x86_64-unknown-*
sip_autoconf.h
os-auto.mak
build.mak
config.log
config.status
m_auto.h
os_auto.h
config_site.h
config_auto.h

/libs/pjproject-1.0.3/pjlib-util/build/os-auto.mak
/libs/pjproject-1.0.3/pjlib/build/os-auto.mak
/libs/pjproject-1.0.3/pjlib/include/pj/compat/m_auto.h
/libs/pjproject-1.0.3/pjlib/include/pj/compat/os_auto.h
/libs/pjproject-1.0.3/pjlib/include/pj/config_site.h
/libs/pjproject-1.0.3/pjmedia/build/os-auto.mak
/libs/pjproject-1.0.3/pjmedia/include/pjmedia-codec/config_auto.h
/libs/pjproject-1.0.3/pjmedia/include/pjmedia/config_auto.h
/libs/pjproject-1.0.3/pjsip/build/os-auto.mak
/libs/pjproject-1.0.3/pjsip/include/pjsip/sip_autoconf.h
/libs/pjproject-1.0.3/third_party/build/os-auto.mak
/libs/pjproject-1.0.3/third_party/build/portaudio/os-auto.mak

# Makefile
/daemon/src/Makefile
/daemon/src/dbus/Makefile
/daemon/src/config/Makefile
/daemon/src/plug-in/Makefile
/daemon/src/plug-in/test/Makefile
/daemon/src/plug-in/audiorecorder/Makefile
/daemon/src/audio/Makefile
/daemon/src/audio/codecs/Makefile
/daemon/src/audio/codecs/ilbc/Makefile
/daemon/src/hooks/Makefile
/daemon/doc/Makefile
/daemon/man/Makefile
/daemon/po/Makefile
/daemon/test/Makefile
/daemon/ringtones/Makefile
/daemon/doc/doxygen/Makefile
/daemon/libs/Makefile
/daemon/libs/utilspp/Makefile
/daemon/libs/stund/Makefile
/daemon/libs/iax2/Makefile
/daemon/libs/utilspp/functor/Makefile
/daemon/libs/utilspp/singleton/Makefile
/gnome/Makefile
/gnome/src/Makefile
/gnome/src/config/Makefile
/gnome/src/dbus/Makefile
/gnome/src/contacts/Makefile
/gnome/src/contacts/addressbook/Makefile
/gnome/src/icons/Makefile
/gnome/pixmaps/Makefile
/gnome/tests/Makefile
/gnome/man/Makefile
/gnome/src/widget/Makefile
/gnome/doc/Makefile
/gnome/po/Makefile
/gnome/webkit/Makefile


# Ignore gnome stuff
/gnome/config.*
/gnome/configure
/gnome/depcomp
/gnome/install-sh
/gnome/missing
/gnome/mkinstalldirs
/gnome/src/gnome
/gnome/autom4te*
/gnome/sflphone.desktop
/gnome/confdefs.h
/gnome/conftest.dir
/gnome/tests/check_config
/gnome/tests/check_contacts
/gnome/tests/check_dbus
/gnome/tests/check_global
/gnome/src/dbus/marshaller.c
/gnome/src/dbus/marshaller.h
/gnome/ltmain.sh
/gnome/@GCONF_SCHEMA_FILE_DIR@/
/gnome/active
/gnome/man/sflphone.pod


# Ignore sflphone_kde stuff
/kde/build
/kde/*.moc
/kde/src/moc_*.cpp
/kde/src/ui_*.h
#/kde/po/
#/kde/po/* 
#/kde/doc/
#/kde/man/
#/kde/data/
/kde/CMakeCache.txt
/kde/CMakeLists.txt.user
/kde/CTestTestfile.cmake
/kde/*.cmake
/kde/Makefile
/kde/CMakeFiles/*
/kde/CMakeTmp/
/kde/qtcreator-build/
/kde/src/.directory
/kde/src/Makefile
/kde/src/CTestTestfile.cmake
/kde/src/CMakeFiles/
/kde/src/*.moc
/kde/src/callmanager_dbus_interface.*
/kde/src/configurationmanager_dbus_interface.*
/kde/src/instance_dbus_interface.*
/kde/src/kde_automoc.cpp
/kde/src/kde_automoc.cpp.files
/kde/src/cmake_install.cmake
/kde/src/kcfg_settings.cpp
/kde/src/kcfg_settings.h
/kde/src/qrc_resources.cxx
/kde/src/kde
/kde/src/kde.shell
/kde/man/sflphone.pod

# Ignore sflphone-plugins stuff

/sflphone-plugins/.cproject
/sflphone-plugins/.project
/sflphone-plugins/.settings/*
/sflphone-plugins/active
/sflphone-plugins/autom4te.cache/*
/sflphone-plugins/config.guess
/sflphone-plugins/config.*
/sflphone-plugins/configure
/sflphone-plugins/depcomp
/sflphone-plugins/gnome-doc-utils.make
/sflphone-plugins/install-sh
/sflphone-plugins/ltmain.sh
/sflphone-plugins/missing
/sflphone-plugins/gnome.schemas
/sflphone-plugins/sflphone.desktop
/sflphone-plugins/sflphone.desktop.*
/sflphone-plugins/stamp-h.in
/sflphone-plugins/stamp-h1

# Ignore sub-modules stuff
## libiax2
/daemon/libs/libiax2/doc/html
/daemon/libs/libiax2/config.*
/daemon/libs/libiax2/autom4te.cache
/daemon/libs/libiax2/src/.libs
/daemon/libs/libiax2/libtool
/daemon/libs/libiax2/ltmain.sh
/daemon/libs/libiax2/iax-config
/daemon/libs/libiax2/configure
/daemon/libs/libiax2/Makefile
/daemon/libs/libiax2/iax2-config
/daemon/libs/libiax2/src/Makefile

## dbus-c++
/daemon/libs/dbus-c++/Makefile
/daemon/libs/dbus-c++/autom4te.cache/requests
/daemon/libs/dbus-c++/config.log
/daemon/libs/dbus-c++/Makefile
/daemon/libs/dbus-c++/autom4te.cache/requests
/daemon/libs/dbus-c++/config.log
/daemon/libs/dbus-c++/config.status
/daemon/libs/dbus-c++/configure
/daemon/libs/dbus-c++/data/Makefile
/daemon/libs/dbus-c++/dbus-c++-1-uninstalled.pc
/daemon/libs/dbus-c++/dbus-c++-1.pc
/daemon/libs/dbus-c++/doc/Doxyfile
/daemon/libs/dbus-c++/doc/Makefile
/daemon/libs/dbus-c++/examples/Makefile
/daemon/libs/dbus-c++/examples/echo/.libs/
/daemon/libs/dbus-c++/examples/echo/Makefile
/daemon/libs/dbus-c++/examples/echo/echo-client-glue.h
/daemon/libs/dbus-c++/examples/echo/echo-client-mt
/daemon/libs/dbus-c++/examples/echo/echo-server
/daemon/libs/dbus-c++/examples/echo/echo-server-glue.h
/daemon/libs/dbus-c++/examples/glib/Makefile
/daemon/libs/dbus-c++/examples/glib/dbus-glue.h
/daemon/libs/dbus-c++/examples/hal/.libs/
/daemon/libs/dbus-c++/examples/hal/Makefile
/daemon/libs/dbus-c++/examples/hal/hal-listen
/daemon/libs/dbus-c++/examples/properties/.libs/
/daemon/libs/dbus-c++/examples/properties/Makefile
/daemon/libs/dbus-c++/examples/properties/propsgs-client
/daemon/libs/dbus-c++/examples/properties/propsgs-glue-adaptor.h
/daemon/libs/dbus-c++/examples/properties/propsgs-glue-proxy.h
/daemon/libs/dbus-c++/examples/properties/propsgs-server
/daemon/libs/dbus-c++/include/dbus-c++/config.h
/daemon/libs/dbus-c++/include/dbus-c++/stamp-h1
/daemon/libs/dbus-c++/src/.libs/
/daemon/libs/dbus-c++/src/Makefile
/daemon/libs/dbus-c++/tools/.libs/
/daemon/libs/dbus-c++/tools/Makefile
/daemon/libs/dbus-c++/tools/dbusxx-introspect
/daemon/libs/dbus-c++/tools/dbusxx-xml2cpp

# Ignore temp files
*~

# GNOME doc file
/gnome/gnome-doc-utils.make
/gnome/doc/de/
/gnome/doc/fr/
/gnome/doc/es/
/gnome/doc/it/
/gnome/doc/ko/
/gnome/doc/pl/
/gnome/doc/pt/
/gnome/doc/pt_BR/
/gnome/doc/ru/
/gnome/doc/zh_CN/
/gnome/doc/zh_TW/
/gnome/doc/zh_HK/

# build system
/tools/build-system/launchpad/daemon
!/tools/build-system/launchpad/daemon/debian
/tools/build-system/launchpad/gnome
!/tools/build-system/launchpad/gnome/debian
/tools/build-system/launchpad/kde
!/tools/build-system/launchpad/kde/debian
/tools/build-system/launchpad/*.dsc
/tools/build-system/launchpad/*.changes
/tools/build-system/launchpad/*.tar.gz
/tools/build-system/launchpad/*.build
/tools/build-system/launchpad/*.upload

# telify
/tools/mozilla-telify-sflphone/debian/mozilla-telify-sflphone
/tools/mozilla-telify-sflphone/tmp/
/tools/mozilla-telify-sflphone/*-stamp
/tools/*.dsc
/tools/*.tar.gz
/tools/*.deb
/tools/*.build
/tools/*.changes
/tools/mozilla-telify-sflphone/debian/control
/tools/mozilla-telify-sflphone/debian/mozilla-telify-sflphone.links
/tools/mozilla-telify-sflphone/debian*
/tools/build-system/launchpad/mozilla-telify-sflphone/*
