# Ignore unused objects
*.lo
*.o
*.a
*.la
*.Po
*.Plo
*.loT
*.m4
*.Tpo
Makefile.in
*.spec
/config.*
*.swp
*.so
# Binary translation files
*.mo
libtool
# The test binary
*Tester
*orig
*.1
*-glue.h

# Ignore rendered docs
doc/doxygen/core-doc
doc/doxygen/gtk-gui-doc
doc/*.html

INSTALL

# Ignore buildsys stuff
/autom4te.cache
/configure
/depcomp
/missing
/ltmain.sh
/libtool
/install-sh
/stamp-h1
/Makefile
sflphone-client-gnome/stamp-h1

# Ignore built stuff
/src/sflphoned
/src/sflphone
/src/.libs

/src/dbus/org.sflphone.SFLphone.service

# PJSIP files
*.depend
*i686-pc-linux-gnu
/libs/pjproject-1.0.1/pjlib-util/build/os-auto.mak
/libs/pjproject-1.0.1/pjlib/build/os-auto.mak
/libs/pjproject-1.0.1/pjlib/include/pj/compat/m_auto.h
/libs/pjproject-1.0.1/pjlib/include/pj/compat/os_auto.h
/libs/pjproject-1.0.1/pjlib/include/pj/config_site.h
/libs/pjproject-1.0.1/pjmedia/build/os-auto.mak
/libs/pjproject-1.0.1/pjmedia/include/pjmedia-codec/config_auto.h
/libs/pjproject-1.0.1/pjmedia/include/pjmedia/config_auto.h
/libs/pjproject-1.0.1/pjsip/build/os-auto.mak
/libs/pjproject-1.0.1/pjsip/include/pjsip/sip_autoconf.h
/libs/pjproject-1.0.1/third_party/build/os-auto.mak
/libs/pjproject-1.0.1/third_party/build/portaudio/os-auto.mak

# Makefile
sflphone-common/src/Makefile
sflphone-common/src/dbus/Makefile
sflphone-common/src/config/Makefile
sflphone-common/src/plug-in/Makefile
sflphone-common/src/plug-in/test/Makefile
sflphone-common/src/plug-in/audiorecorder/Makefile
sflphone-common/src/audio/Makefile
sflphone-common/src/audio/codecs/Makefile
sflphone-common/src/audio/codecs/ilbc/Makefile
sflphone-common/src/hooks/Makefile
sflphone-common/doc/Makefile
sflphone-common/man/Makefile
sflphone-common/po/Makefile
sflphone-common/test/Makefile
sflphone-common/ringtones/Makefile
sflphone-common/doc/doxygen/Makefile
sflphone-common/libs/Makefile
sflphone-common/libs/utilspp/Makefile
sflphone-common/libs/stund/Makefile
sflphone-common/libs/iax2/Makefile
sflphone-common/libs/utilspp/functor/Makefile
sflphone-common/libs/utilspp/singleton/Makefile
sflphone-client-gnome/Makefile
sflphone-client-gnome/src/Makefile
sflphone-client-gnome/src/config/Makefile
sflphone-client-gnome/src/dbus/Makefile
sflphone-client-gnome/src/contacts/Makefile
sflphone-client-gnome/src/contacts/addressbook/Makefile
sflphone-client-gnome/pixmaps/Makefile
sflphone-client-gnome/tests/Makefile
sflphone-client-gnome/man/Makefile


# Ignore sflphone-client-gnome stuff
/sflphone-client-gnome/config.*
/sflphone-client-gnome/configure
/sflphone-client-gnome/depcomp
/sflphone-client-gnome/install-sh
/sflphone-client-gnome/missing
/sflphone-client-gnome/mkinstalldirs
/sflphone-client-gnome/src/sflphone-client-gnome
/sflphone-client-gnome/autom4te*
/sflphone-client-gnome/sflphone.desktop
/sflphone-client-gnome/confdefs.h
/sflphone-client-gnome/conftest.dir
/sflphone-client-gnome/tests/check_config
/sflphone-client-gnome/tests/check_contacts
/sflphone-client-gnome/tests/check_dbus
/sflphone-client-gnome/tests/check_global
/sflphone-client-gnome/src/dbus/marshaller.c
/sflphone-client-gnome/src/dbus/marshaller.h

# Ignore sub-modules stuff
## libiax2
/libs/libiax2/doc/html
/libs/libiax2/config.*
/libs/libiax2/autom4te.cache
/libs/libiax2/src/.libs
/libs/libiax2/libtool
/libs/libiax2/ltmain.sh
/libs/libiax2/iax-config
/libs/libiax2/configure
/libs/libiax2/Makefile
/libs/libiax2/iax2-config
/libs/libiax2/src/Makefile

## dbus-c++
libs/dbus-c++/Makefile
libs/dbus-c++/autom4te.cache/requests
libs/dbus-c++/config.log
libs/dbus-c++/Makefile
libs/dbus-c++/autom4te.cache/requests
libs/dbus-c++/config.log
libs/dbus-c++/config.status
libs/dbus-c++/configure
libs/dbus-c++/data/Makefile
libs/dbus-c++/dbus-c++-1-uninstalled.pc
libs/dbus-c++/dbus-c++-1.pc
libs/dbus-c++/doc/Doxyfile
libs/dbus-c++/doc/Makefile
libs/dbus-c++/examples/Makefile
libs/dbus-c++/examples/echo/.libs/
libs/dbus-c++/examples/echo/Makefile
libs/dbus-c++/examples/echo/echo-client-glue.h
libs/dbus-c++/examples/echo/echo-client-mt
libs/dbus-c++/examples/echo/echo-server
libs/dbus-c++/examples/echo/echo-server-glue.h
libs/dbus-c++/examples/glib/Makefile
libs/dbus-c++/examples/glib/dbus-glue.h
libs/dbus-c++/examples/hal/.libs/
libs/dbus-c++/examples/hal/Makefile
libs/dbus-c++/examples/hal/hal-listen
libs/dbus-c++/examples/properties/.libs/
libs/dbus-c++/examples/properties/Makefile
libs/dbus-c++/examples/properties/propsgs-client
libs/dbus-c++/examples/properties/propsgs-glue-adaptor.h
libs/dbus-c++/examples/properties/propsgs-glue-proxy.h
libs/dbus-c++/examples/properties/propsgs-server
libs/dbus-c++/include/dbus-c++/config.h
libs/dbus-c++/include/dbus-c++/stamp-h1
libs/dbus-c++/src/.libs/
libs/dbus-c++/src/Makefile
libs/dbus-c++/tools/.libs/
libs/dbus-c++/tools/Makefile
libs/dbus-c++/tools/dbusxx-introspect
libs/dbus-c++/tools/dbusxx-xml2cpp

# Ignore temp files
*~

