[submit]
	action = rebase if necessary
	mergeContent = false

[label "Code-Review"]
function = MaxWithBlock
abbreviation = R
copyMinScore = true
copyAllScoresOnTrivialRebase = true
copyAllScoresIfNoCodeChange = true
value = -2 Do not submit
value = -1 I would prefer that you didn't submit this
value = 0 No score
value = +1 Looks good to me, but someone else must approve
value = +2 Looks good to me, approved
