build
*.moc
src/moc_*.cpp
src/ui_*.h
#po/
#po/* 
#doc/
#man/
#data/
CMakeCache.txt
CMakeLists.txt.user
CTestTestfile.cmake
*.cmake
CMakeFiles/*
CMakeTmp/
qtcreator-build/
src/.directory
src/CTestTestfile.cmake
src/CMakeFiles/
src/*.moc
src/callmanager_dbus_interface.*
src/configurationmanager_dbus_interface.*
src/instance_dbus_interface.*
src/kde_automoc.cpp
src/kde_automoc.cpp.files
src/cmake_install.cmake
src/kcfg_settings.cpp
src/kcfg_settings.h
src/qrc_resources.cxx
src/kde
src/kde.shell
man/sflphone.pod
