[Desktop Entry]
Name=sflphone
Comment=Plasma frontend for the SFLPhone VoIP software
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_sflphone
X-KDE-PluginInfo-Author=Emmanuel Lepage Vallee
X-KDE-PluginInfo-Email=emmanuel.lepage@savoirfairelinux.com
X-KDE-PluginInfo-Name=sflphone
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=SIP
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
