build
*.moc
moc_*.cpp
ui_*.h
*.gmo
*_automoc.cpp
*.files
man/index.html
doc/index.cache.bz2
#po/
#po/*
#doc/
#man/
#data/
CMakeCache.txt
CMakeLists.txt.user
CTestTestfile.cmake
*.cmake
CMakeFiles/
CMakeTmp/
qtcreator-build/
src/.directory
src/CTestTestfile.cmake
src/CMakeFiles/
src/*.moc
src/callmanager_dbus_interface.*
src/configurationmanager_dbus_interface.*
src/instance_dbus_interface.*
src/cmake_install.cmake
src/qrc_resources.cxx
man/sflphone.pod
*~
.directory
.*.kate-swp
