Package: mozilla-telify-sflphone
Version: 0.4.7.3
Architecture: all
Maintainer: Julien Bonjean <julien.bonjean@savoirfairelinux.com>
Installed-Size: 1296
Depends: firefox-gnome-support, sflphone-gnome
Section: web
Priority: optional
Homepage: http://www.sflphone.org
Description: This package provides telify firefox plugin and handler for SFLphone.
 Telify recognizes phone numbers on web pages and converts them to clickable links.
 Additionally, any text can be selected and handled as a phone number (including
 vanity number conversion) by selecting the corresponding context menu item.
 http://www.codepad.de/en/software/firefox-add-ons/telify.html
