Source: sflphone-client-gnome
Maintainer: SavoirFaireLinux Inc <julien.bonjean@savoirfairelinux.com>
Section: gnome
Priority: optional
Build-Depends: debhelper, libgcc1, autoconf, automake, libtool, libgconf2-dev, libgtk-3-dev, libdbus-glib-1-dev, libnotify4-dev | libnotify-dev (>= 0.7), check, liblog4c-dev, gnome-doc-utils, rarian-compat, libwebkitgtk-3.0-dev, librsvg2-common
Standards-Version: 3.7.3

Package: sflphone-client-gnome
Priority: optional
Architecture: any
Depends: sflphone-common (=${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: sflphone
Conflicts: sflphone
Homepage: http://www.sflphone.org
Description: GNOME client for SFLphone
 Provide a GNOME client for SFLphone.
 SFLphone is meant to be a robust enterprise-class desktop phone.
 SFLphone is released under the GNU General Public License.
 SFLphone is being developed by the global community, and maintained by
 Savoir-faire Linux, a Montreal, Quebec, Canada-based Linux consulting company.
