.cproject
.project
.settings/*
active
autom4te.cache/*
config.guess
config.*
configure
depcomp
gnome-doc-utils.make
install-sh
ltmain.sh
missing
gnome.schemas
sflphone.desktop
sflphone.desktop.*
stamp-h.in
stamp-h1

