Source: ring-daemon
Section: comm
Priority: extra
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9),
# ring-daemon
 autoconf, automake, libpulse-dev, libsamplerate0-dev, libtool, libdbus-1-dev,
 libasound2-dev, libexpat1-dev, libpcre3-dev, libyaml-cpp-dev, libboost-dev,
 libdbus-c++-dev, libsndfile1-dev, libsrtp-dev, libxext-dev,
 libxfixes-dev, yasm, autopoint, unbound-anchor, git-core, libspeex-dev,
 libspeexdsp-dev, autotools-dev, chrpath, check, astyle, 
 uuid-dev, libudev-dev, libgnutls28-dev,
Standards-Version: 3.9.6
Homepage: http://ring.cx
Vcs-Git: https://gerrit-ring.savoirfairelinux.com/ring
Vcs-Browser: https://gerrit-ring.savoirfairelinux.com/#/admin/projects/ring

Package: ring-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ring daemon.
 Ring is a secured and distributed communication software.

Package: ring-daemon-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Header files for Ring.
 Ring is a secured and distributed communication software.
