#!/usr/bin/make -f


PKD  = $(abspath $(dir $(MAKEFILE_LIST)))
#PKG  = $(word 2,$(shell dpkg-parsechangelog -l$(PKD)/changelog --show-field=Source))
PKG  = $(shell dpkg-parsechangelog -l$(PKD)/changelog --show-field=Source)
VER ?= $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')
DISTRIB_ID = $(shell grep -hPo "^ID=\K.*" /etc/*ease)
DISTRIB_VERSION_ID = $(shell grep -hPo "^VERSION_ID=\K.*" /etc/*ease)

DAEMON_TAG = origin/master

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	mkdir -p contrib/native && cd contrib/native && ../bootstrap --disable-ogg --disable-flac --disable-vorbis --disable-vorbisenc --disable-speex --disable-sndfile --disable-speexdsp --disable-gnutls && make list && make -j 2
	@echo "Contribs built"
	#./autogen.sh && ./configure --prefix=/usr --with-contrib=yes CFLAGS="$(CFLAGS) -fPIC" LDFLAGS="-Wl,-z,defs"
	./autogen.sh && ./configure --prefix=/usr CFLAGS="$(CFLAGS) -fPIC" LDFLAGS="-Wl,-z,defs"
	dh_auto_configure

override_dh_auto_test:

override_dh_auto_build:
	make -j2

override_dh_auto_clean:
	# [ -d daemon/contrib/native ] && cd daemon/contrib/native && $(MAKE) distclean
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_auto_clean

override_dh_auto_install:
	# RING daemon
	make DESTDIR=$(CURDIR)/debian/ring-daemon install
	# Dev
	# TODO include or not a and la file
	find $(CURDIR)/debian/ring-daemon/ -name libring.a -delete
	find $(CURDIR)/debian/ring-daemon/ -name libring.la -delete
	mkdir -p $(CURDIR)/debian/ring-daemon-dev/usr/include/dring
	mv $(CURDIR)/debian/ring-daemon/usr/include/dring/* $(CURDIR)/debian/ring-daemon-dev/usr/include/dring
	rm -rf  $(CURDIR)/debian/ring-daemon/usr/include/
	# Add repository file
	mkdir -p $(CURDIR)/debian/ring-repository/etc/apt/sources.list.d/
	echo "deb http://nightly.apt.ring.cx/$(DISTRIB_ID)_$(DISTRIB_VERSION_ID) ring main" > $(CURDIR)/debian/ring-repository/etc/apt/sources.list.d/ring-nightly.list
	dh_auto_install

get-orig-source:
	# Daemon
	git init
	git remote add origin https://gerrit-ring.savoirfairelinux.com/ring-daemon
	git fetch --all
	git checkout packaging -f
	git config user.name "joulupukki"
	git config user.email "joulupukki@localhost"
	git merge $(DAEMON_TAG) --no-edit
	rm -rf .git
	# Packing
	@echo "# Packing ... "
	find . | sort \
	| XZ_OPT="-6v" tar -caf "../$(PKG)_$(VER)$(DTYPE).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX
