config.*
configure
depcomp
install-sh
missing
mkinstalldirs
src/sflphone-client-gnome
autom4te*
sflphone.desktop
confdefs.h
conftest.dir
tests/check_config
tests/check_contacts
tests/check_dbus
tests/check_global
src/dbus/marshaller.c
src/dbus/marshaller.h
ltmain.sh
@GCONF_SCHEMA_FILE_DIR@/
active
man/sflphone.pod
*.omf
compile

# GNOME doc file
gnome-doc-utils.make
doc/de/
doc/fr/
doc/es/
doc/it/
doc/ko/
doc/pl/
doc/pt/
doc/pt_BR/
doc/ru/
doc/zh_CN/
doc/zh_TW/
doc/zh_HK/
