.message {
	-webkit-border-radius: 5px;
	background: rgba(242, 242, 242, 0.75);
	color: #777;
	padding: 1em;
	-webkit-box-shadow: 2px 2px 5px #000;
	margin: 20px;
overflow: auto;
font-size: 0.95em;
}

* {
	font-size: 1em;
font-family: "Georgia","Verdana","Arial","Helvetica",sans-serif;
}

.page {

}

body {
	background: #fbfdfe url(sflphone.png) no-repeat fixed bottom right;
}

.peername {
	color: #3578B1;
	font-weight: bold;
}
