.message {
	-webkit-border-radius: 5px;
	background: rgba(242, 242, 242, 0.75);
	color: #444;
	padding: 1em;
	-webkit-box-shadow: 2px 2px 5px #000;
	margin: 20px;
overflow: auto;
clear: both;
}

* {
	font-size: 12px;
font-family: "Georgia","Verdana","Arial","Helvetica",sans-serif;
}

.page {

}

body {
	background:  #fbfdfe;
}

#logo {
	float: right;
}

.author {
	color: #3578B1;
	font-weight: bold;
}

#header {
	display: none;
	margin: 40px;
}

#call-info {
	float: left;
	font-size: 1.1em;
height: 96px;
	background: url(chat_info.png) no-repeat center left;
	padding: 20px 20px 20px 100px;
	border: 2px solid #dedede;
	-webkit-border-radius: 25px;
}

.error .text {
	color: #de7575;
	font-size: 1.3em;
}

.error .author {
	display: none;
}

.message-time {
	color: #777;
	float: right;
}

#messages {
	clear: both;
	padding-top: 20px;
}
