# build system
build-system/launchpad/daemon
!build-system/launchpad/daemon/debian
build-system/launchpad/gnome
!build-system/launchpad/gnome/debian
build-system/launchpad/kde
!build-system/launchpad/kde/debian
build-system/launchpad/*.dsc
build-system/launchpad/*.changes
build-system/launchpad/*.tar.gz
build-system/launchpad/*.build
build-system/launchpad/*.upload

# telify
mozilla-telify-sflphone/debian/mozilla-telify-sflphone
mozilla-telify-sflphone/tmp/
mozilla-telify-sflphone/*-stamp
*.dsc
*.tar.gz
*.deb
*.build
*.changes
mozilla-telify-sflphone/debian/control
mozilla-telify-sflphone/debian/mozilla-telify-sflphone.links
mozilla-telify-sflphone/debian*
build-system/launchpad/mozilla-telify-sflphone/*

