Source: sflphone-gnome
Maintainer: SavoirFaireLinux Inc <julien.bonjean@savoirfairelinux.com>
Section: gnome
Priority: optional
Build-Depends: debhelper, libgcc1, intltool, autopoint, autoconf, automake, libtool, libgtk-3-dev, libdbus-glib-1-dev, libnotify4-dev | libnotify-dev (>= 0.7), check, gnome-doc-utils, rarian-compat, librsvg2-common, yelp-tools, gnome-common
Standards-Version: 3.7.3

Package: sflphone-gnome
Priority: optional
Architecture: any
Depends: sflphone-daemon (=${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Provides: sflphone-client-gnome
Replaces: sflphone-client-gnome, sflphone
Conflicts: sflphone-client-gnome-video, sflphone-gnome-video, sflphone-data
Homepage: http://www.sflphone.org
Description: GNOME client for SFLphone
 Provide a GNOME client for SFLphone.
 SFLphone is meant to be a robust enterprise-class desktop phone.
 SFLphone is released under the GNU General Public License.
 SFLphone is being developed by the global community, and maintained by
 Savoir-faire Linux, a Montreal, Quebec, Canada-based Linux consulting company.
