@charset "UTF-8";

/* CSS Document 
	Auteur : Espérance Guerson noël
	Date   : 2009-01-23 (23 janvier 2009)
 	- sfl-phone
*/


* {
	margin: 0 ;
	padding: 0;
} 


a:link {
	text-decoration:none;
	color: #009cc9;
}

a:Hover {
	text-decoration:none;
	color:#a47944;
}
a:visited {
	text-decoration:none;
}

p {
	color : #555555; 
}

h5 {
	color : #555555;
	margin-bottom : 10px;
	padding : 2px; 
}

img {
	border: none;
}

img.logo {
  margin: 5px;
}

img.perso {
	border: 1px dashed #ccc;
	padding: 3px;
}

.clear {
	clear: both;
}

.float_it_left {
	float: left;
}

.float_it_right {
	float: right;
}

.float_it_middle {
	text-align: center;
}

.fntBleu {
	color: #009cc9;
}

.fntBrun {
	color: #a47944;
}

.title {
	font: normal 15pt Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	padding: 16px 20px 16px 0;
}

.alignCenter{
	text-align: center;
}
.leftAlign{
	text-align: left;
}

.rightAlign{
	text-align: right;
}

.previewGoogle{
	padding: 8px 0px 8px 0px;
}

.highlight {
	color: #a47944;
}

.highlight:hover {
	color: #a47944;
	text-decoration:underline;
}

.list {
	padding: 10px 0 10px 0;
}









/* enveloppe - page*/
body {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #111111;
	background-color: #cde5ed;  
}

#global{
	background: #fff url('../img/content_bg.jpg') repeat-x;
}

#controller {
	margin: 0 auto;
	/* min-width: 1000px; */
	width: 92%;
}

#header {
	width: 100%;
	height: 159px;
	/*background: #a47a48 url('../img/head_bg_a.jpg') no-repeat; */
	background: #0f5787 url('../img/head_bg_a.jpg') no-repeat; 
}


.navigation {
	clear: both;
}

.option {
	clear: both;
}

.underOption {
	padding: 5px 0 5px 0;
}



#content {
	padding: 10px 0px 0px 0px;
	clear:both;
}
.pourcentWidth {
	width: 100%;
}



/* index content */
.imgSliderTd {
	height:420px;
}
.tabsIndex td{
}
.tabsIndex td ul li{
	font-weight: normal;
	font-size: 13pt;
	margin-bottom: 5px;
	margin-left: 15px;
	min-width:270px;
	list-style-type:circle;
	/*list-style-image:url(../img/puces.png);*/
}

#index_td_gauche {
	padding: 10px;
	width: 49.5%;
	background-color: #fff;
	border: 1px solid #ededed;
	border-bottom:none;
}

#index_td_separator {
	background-color: transparent;
}

#index_td_droite {
	padding: 50px;
	width: 49.5%;
	background: #fff url(../img/corner_a.png) no-repeat left top;
	border: 1px solid #ededed;
	border-bottom:none;
}


/* fonction */
.fonctionTabs {
	padding: 20px 20px 20px 20px;
	background-color: #fff;
	border: 1px solid #ededed;
	border-bottom:none;
}
.fonctionTabs td {
	padding:5px;
}



/* download */
.downloadTabs {
	padding: 20px 20px 20px 20px;
	background-color: #fff;
	border: 1px solid #ededed;
	border-bottom:none;
}
.downloadTabs td {
	padding:5px;
}



/* contact */
.contactTabs {
	padding: 20px 20px 20px 20px;
	background-color: #fff;
	border: 1px solid #ededed;
	border-bottom:none;
}
.contactTabs td {
	padding:5px;
}





/* foot */

#botDescr {
	font-size: 9pt;
	background-color: #fafafa;
	border: 1px dashed #ddd;
	padding: 5px;
	margin-top:15px;
	clear: both;
}

#foot {
	font-size: 9pt;
	
}

.footTabStyle {
	width: 100%;
}

.leftfoot {
	padding-top: 15px;
	padding-right:10px;
}

.rightfoot {	
	padding-top: 15px;
	width: 90%;
}

#bottomLink {
	padding: 0px 11px 0px 11px;
	height: 100%;
}

.footBlock {
	width:200px;
	margin-left:20px;
	border-right:1px solid #dddddd;
	float:left;
}

.rightfootBlock {
	width:200px;
	margin-left:20px;
	float:right;
}

.rightfootBlock li {
	color:#bdbdbd;
	text-decoration:none;
	list-style-type:none;
	text-align: right;
}


.footBlock ul {
	list-style:none;
}

.footBlock li {
	margin-bottom:1px;
}

.footBlock li a {
	text-decoration:none;
	color:#58abd4;
}

.footBlock li a:Hover {
	text-decoration:none;
	color:#a47944;
}

#bottomPage {
	margin-top: 10px;
	width: 100%;
	height: 125px;
	background : transparent url('../img/bot_bg_a.jpg') repeat-x;
}


















/* create several round corner */
.cadre{
	background-color: #f0f0f0;
	width: 100%;
}

.cadre_hg, .cadre_hd,
.cadre_bg, .cadre_bd{
	width: 11px;
	height: 11px;
	background-repeat: no-repeat;
	font-size: 1px;
}

.cadre_hg{
	background: url('../img/cadre_rounded.png') 0 0;
}
.cadre_hd{
	background: url('../img/cadre_rounded.png') 11px 0;
	float: right;
}
.cadre_bg{
	background: url('../img/cadre_rounded.png') 0 11px;
}
.cadre_bd{
	background: url('../img/cadre_rounded.png') 11px 11px;
	float: right;
}






/* Navigation */

/* NAV */
.navTabs{
	background-color: #fff;
	border: 1px solid #ddd;
	min-height: 26px;
	width: 100%; 
	padding: 8px 8px 0px 8px;
}


#navigation li {
	float:right;
	padding:0 1px 0 0;
	position:relative;
	list-style:none;
}

#navigation a {
	float:left;
	color:#58abd4;
	text-decoration:none;
	width:145px;
	text-align:center;
	line-height:25px;
	font-size:13pt;
	font-weight:normal;
	white-space: nowrap;
	overflow: hidden;
}
#navigation span {
	padding:0 12px 0 6px;
}

#navigation a:hover {
	color:#a47944;
}

#navigation .active a {
	background-position:0 0;
	background-color:#ededed;
}	
#navigation div {
	width:100%;
	position:absolute;
	top:22px;
	left:-1px;
	display:none;
}
#navigation li:hover div,
#navigation li.hover div {display:block;}
#navigation div ul {
	padding:5px;
	margin:0;
	width:145px;
	list-style:none;
	z-index: 110;
}
#navigation div ul li {
	float:left;
	position:relative;
	z-index:999;
}
#navigation div ul a {
	float:none;
	color:#000;
	font-size:11px;
	text-align:left;
	display:block;
	width:145px;
	padding:4px 4px 4px 10px;
	border-bottom:1px solid #d6d6d6;
	background:#ececec;
}



#navigation div ul a:hover {
	color:#fff;
	background:#105786;
}

/* Download tables */
/*
table.download-table > thead > th {
  background: #CEF;
}

table.download-table {
  width: 100%;
  border: 0;
  background: #DDD;
  border-spacing: 1px;
}

table.download-table > thead > th + th {
  width: 80%;
}

table.download-table > thead > th {
  padding: 2px 5px;
  background: #CEF;
}

table.download-table > tbody > tr > td {
  background: #FAFAFA;
  vertical-align: top;
}

table.download-table > tbody > tr > td:first-child {
  vertical-align: middle;
}

table.download-table > tbody > tr > td {
   padding: 5px;
}
 */
table.download-table th {
  background: #CEF;
}

table.download-table {
  width: 100%;
  border: 0;
  background: #DDD;
  border-spacing: 1px;
}

table.download-table th + th {
  width: 80%;
}

table.download-table th {
  padding: 2px 5px;
  background: #CEF;
}

table.download-table td {
  background: #FAFAFA;
  vertical-align: top;
}

table.download-table  td:first-child {
  vertical-align: middle;
}

table.download-table  td {
   padding: 5px;
}
code {
  border: 1px solid #ddd;
  background: #eee;
  line-height: 30px;
  padding: 3px;
}


