Source: sflphone-common
Maintainer: SavoirFaireLinux Inc <julien.bonjean@savoirfairelinux.com>
Section: gnome
Priority: optional
Build-Depends: debhelper (>= 7.0.50), libgcc1, autoconf, automake, libpulse-dev, libsamplerate0-dev, libccrtp-dev, libgsm1-dev, libspeex-dev, libtool, libdbus-1-dev, libasound2-dev, libspeexdsp-dev, uuid-dev, libexpat1-dev, libzrtpcpp-dev, libssl-dev, libgnutls28-dev, libpcre3-dev, libyaml-dev, libdbus-c++-dev, libsndfile1-dev
Standards-Version: 3.7.3

Package: sflphone-common
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: sflphone
Conflicts: sflphone-common-video
Homepage: http://www.sflphone.org
Description: SIP and IAX2 compatible softphone - Core
 SFLphone is meant to be a robust enterprise-class desktop phone.
 SFLphone is released under the GNU General Public License.
 SFLphone is being developed by the global community, and maintained by
 Savoir-faire Linux, a Montreal, Quebec, Canada-based Linux consulting company.

Package: sflphone-common-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    sflphone-common (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for sflphone-common
